.qmake.stash
LinearDragger
LinearDragger.pro.user
Makefile
line.origin.db
main.o
mainwindow.o
moc_mainwindow.cpp
moc_mainwindow.o
moc_mylabel.cpp
moc_mylabel.o
moc_predefs.h
mylabel.o
line.origin.db
class.list
LinearDragger.app/
PieCursor.log
class.4
pyFile/
weight.4
weight.5
